:root {
  --s2d-font-family: "adobe-clean-spectrum-vf", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; /* @kind font */
  --s2d-font-serif: "adobe-clean-spectrum-srf-vf", Georgia, serif; /* @kind font */
  --s2d-font-mono: "source-code-pro", "SFMono-Regular", Consolas, monospace; /* @kind font */
  --s2d-surface-base: var(--s2-background-base-color);
  --s2d-surface-layer-1: var(--s2-background-layer-1-color);
  --s2d-surface-layer-2: var(--s2-background-layer-2-color);
  --s2d-content-neutral: var(--s2-neutral-content-color-default);
  --s2d-content-subdued: var(--s2-neutral-subdued-content-color-default);
  --s2d-action-accent: var(--s2-accent-color-900);
  --s2d-action-negative: var(--s2-negative-color-900);
  --s2d-status-positive: var(--s2-positive-color-900);
  --s2d-status-notice: var(--s2-notice-color-900);
  --s2d-radius-small: 4px;
  --s2d-radius-medium: 8px;
  --s2d-radius-large: 10px;
  --s2d-radius-extra-large: 16px;
  --s2d-duration-default: 150ms; /* @kind other */
  --s2d-easing-default: cubic-bezier(0.45, 0, 0.4, 1); /* @kind other */
}
